@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.contact-me {
  display: flex;
  justify-content: center;
}

.contact-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

.contact-item {
  margin: 0 15px;
}

.contact-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-link i {
  font-size: 2rem;
}

.contact-link:hover {
  color: var(--pink);
}

@media screen and (max-width: 810px) {
  .contact-list {
    flex-direction: column;
    padding: 0;
  }

  .contact-item {
    margin: 10px 0;
  }

  .contact-link {
    font-size: 1.2rem;
    gap: 8px;
  }

  .contact-link i {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-list {
    flex-direction: column;
    padding: 0;
  }

  .contact-item {
    margin: 8px 0;
  }

  .contact-link {
    font-size: 1rem;
    gap: 6px;
  }

  .contact-link i {
    font-size: 1.5rem;
  }
}